.car{
    width: 400px;
    height: 400px;
    object-fit: contain;
    background-color: blue;
    padding: 10px;
}
.big-car{
    width: 800px;
    height: 800px;
    object-fit: cover;


}
.zoom-car{
    zoom: 2;
}